@model ATS.Models.Models.EntityModel.Branch

@{
    ViewBag.Title = "Details";
}


<h2 class="text-center">Branch Details</h2><hr />


<div class="container-fluid">
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel panel-heading">Branch</div>
            <div class="panel-body">
                <h3><b>Branch Name: @Model.Name</b></h3>
                <hr />

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            Organization
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Organization.Name)
                        </dd>

                        <dt>
                            Branch
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            Short Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShortName)
                        </dd>

                    </dl>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            @Html.ActionLink("Edit", "Edit", "Branches", new { id = Model.Id }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Back to Branch List", "Index")
                        </div>
                    }
                    <br />
                </div>

            </div>
        </div>
    </div>
</div>



