@model ATS.Models.Models.ViewModel.AssetModel.AssetModelEditVm
@{
    ViewBag.Title = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Asset Model</h3>
            </div>
            <div class="panel-body">
                <!--Form Start-->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-horizontal">
                        <fieldset>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <!-- Form Name -->
                            <!-- Text input-->
                            <div class="form-group">
                                @Html.LabelFor(model => model.AssetGroupId, "Asset Group", htmlAttributes: new { @class = "col-md-4 col-sm-4 control-label" })
                                <div class="col-md-4 col-sm-4">
                                    @Html.DropDownListFor(m => m.AssetGroupId, new SelectList(Model.AssetGroupLookUp, "Value", "Text"), new { id = "AssetGroupAssetEntry", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AssetGroupId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManufacturerId, "Manufacturer", htmlAttributes: new { @class = "col-md-4 col-sm-4 control-label" })
                                <div class="col-md-4 col-sm-4">
                                   @Html.DropDownListFor(m => m.ManufacturerId, new SelectList(Model.ManufacturerLookUp, "Value", "Text"), new { id = "ManufacturerAssetEntry", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ManufacturerId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-4 col-sm-4 control-label" })
                                <div class="col-md-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.Name, new { id = "modelName", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "col-md-4 col-sm-4 control-label" })
                                <div class="col-md-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.ShortName, new { id = "shortNameAssetModel", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-md-4 col-sm-4 control-label" })
                                <div class="col-md-4 col-sm-4">
                                    @Html.TextBoxFor(model => model.Code, new { id = "codeAssetModel", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "col-md-4 col-sm-4 control-label"})
                                <div class="col-md-4 col-sm-4">
                                    @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <hr />
                            <!-- Button -->
                            <div class="row">
                                <!-- row start-->
                                <div class="form-group">
                                    <div class="col-md-8 col-sm-8" align="right">
                                        <input type="submit" id="Save" name="Save" class="btn btn-success" value="Update" />
                                        @Html.ActionLink("Cancel", "Edit", "AssetModels", new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div><!-- row end-->

                            <div>
                                @Html.ActionLink("Back to Asset Model List", "Index")
                            </div>
                        </fieldset>
                    </div>
    <!--Form End-->

                }

            </div>
        </div>
    </div>
</div>


@section scripts{
<script src="~/Scripts/ATS/DD.js"></script>
<script src="~/Scripts/ATS/ShortCodeGeneration.js"></script>
}