@model ATS.Models.Models.EntityModel.Employee

@{
    ViewBag.Title = "Details";
}



<h2 class="text-center">Employee Details</h2><hr />


<div class="container-fluid">
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel panel-heading">Employee</div>
            <div class="panel-body">
                <h3><b>Employee Name: @Model.FirstName @Model.LastName</b></h3>
                <hr />

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            Organization
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Branch.Organization.Name)
                        </dd>
                        <dt>
                            Branch
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Branch.Name)
                        </dd>

                        <dt>
                            First Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            Last Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            Contact No
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ContactNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Department)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Designation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Designation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>

                        <dd>
                            <img width="100" height="100" src="@Html.DisplayFor(model => model.Image)" alt="Image not abailable" class="img-thumbnail" />
                        </dd>

                    </dl>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            @Html.ActionLink("Edit", "Edit", "Employees", new { id = Model.Id }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Back to Employee List", "Index")
                        </div>
                    }
                    <br />
                </div>

            </div>
        </div>
    </div>
</div>



