@model ATS.Models.Models.EntityModel.AssetGroup

@{
    ViewBag.Title = "Delete";
}


<h2 class="text-center">Delete</h2>
<hr />


<div class="container-fluid">
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel panel-heading">Asset Group</div>
            <div class="panel-body">
                <h3>Are you sure you want to <span id="span" style="color: red"><b>Delete</b></span> this Asset Group permanently?</h3>
                <hr />

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            Asset Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AssetType.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            Short Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ShortName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>

                    </dl>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            @Html.ActionLink("Back to Asset Group List", "Index")
                        </div>
                    }<br />
                </div>

            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/ATS/Animation.js"></script>
}